<section>
    <footer class="bg-dark text-light pt-5 pb-3">
      <div class="container text-md-left">
        <div class="row">

          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-2">
            <h6 class="text-uppercase fw-bold">Xplore</h6>
            <hr class="mb-3 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: tomato; height: 2px" />
            <p>
              We provide top-notch solutions to help you grow your business online with design, development, and digital
              strategy.
            </p>
            <div id="socialmedia" class="d-flex col-lg-12 mb-2 ">
              <a href="" ><i class="bi bi-facebook"></i></a>
              <a href="" ><i class="bi bi-twitter"></i></a>
              <a href="" ><i class="bi bi-instagram"></i></a>
              <a href="" ><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <!-- Links -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
            <h6 class="text-uppercase fw-bold">Quick Links</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: tomato; height: 2px" />
            <p><a href="/" class="text-light text-decoration-none">Home</a></p>
            <p><a href="/about" class="text-light text-decoration-none">About</a></p>
            <p><a href="/services" class="text-light text-decoration-none">Services</a></p>
            <p><a href="/contact" class="text-light text-decoration-none">Contact</a></p>
          </div>

          <!-- Contact -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: tomato; height: 2px" />
            <p><i class="bi bi-house-door"></i> Pune,Maharasthra,India</p>
            <p><i class="bi bi-envelope"></i> info@Xplore.com</p>
            <p><i class="bi bi-phone"></i> +91 9876543210</p>
          </div>

          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-1">
            <h6 class="text-uppercase fw-bold">Subscribe</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: tomato; height: 2px" />
            <form>
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Enter your email" required>
                <button class="btn btn-danger" type="submit">Subscribe</button>
              </div>
            </form>
        
          </div>

        </div>

        <hr class="mb-4 mt-1" style="background-color: #fff; height: 1px" />

        <div class="row">
          <div class="col-md-12 text-center" >
            <p class="mb-0 mt-0">© 2025 Xplore All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </section>