<section>
  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom fixed-top shadow-sm">
    <div class="container">

      <!-- Logo -->
      <a href="/">
        <img src="/images/logo1.png" alt="logo" height="50" class="logo">
      </a>
      <a class="navbar-brand" href="/">Xplore</a>

      <!-- Mobile Toggle -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#mainNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Content -->
      <div class="collapse navbar-collapse" id="mainNavbar">

        <!-- Left Links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/listings">All Listings</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/listings/new">Add New</a>
          </li>

        </ul>

        <!-- Search Bar -->
        <form class="d-flex my-3 my-lg-0 mx-lg-3" role="search">
          <input class="form-control rounded-pill me-2"
            type="search" placeholder="Search listings">
          <button class="btn btn-danger rounded-pill px-3"
            type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>

        <!-- Right Side -->
        <div class="d-flex align-items-center">

          <!-- Show this if NOT logged in -->
          <div id="guestButtons" class="d-flex">
            <a href="/login" class="btn btn-outline-danger me-2">Login</a>
            <a href="/register" class="btn btn-danger">Sign Up</a>
          </div>

          <!-- Show this if logged in -->
          <div id="userDropdown" class="dropdown ms-3">
            <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle"
              data-bs-toggle="dropdown">
              <img src="https://i.pinimg.com/736x/db/83/8b/db838bc092299656764d9bf40f1b3d00.jpg"
                alt="profile"
                width="40"
                height="40"
                class="rounded-circle border border-2 border-danger">
            </a>

            <ul class="dropdown-menu dropdown-menu-end shadow">
              <li><a class="dropdown-item" href="/profile">Profile</a></li>
              <li><a class="dropdown-item" href="/settings">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </nav>
</section>