<% layout('/layouts/boilerplate') -%>

<body>
<section class="lux-hero">
    <div class="hero-overlay"></div>

    <div class="hero-content text-center text-white">
        <p class="small-tag">TRAVEL • STAYS • EXPERIENCES</p>

        <h1 class="hero-title ml-2">
               STAY. EXPLORE. RELAX.
        </h1>

        <p class="hero-sub">
            Discover beautiful homes and unforgettable destinations around the world.
        </p>

        <a href="/listings" class="btn hero-btn">
            EXPLORE LISTINGS →
        </a>
    </div>
</section>
</body>