 body {
     box-sizing: border-box;
     margin: auto;
     max-width: 100%;
     padding: 0px;
     padding-top: 70px;
 }

 .navbar {
     max-width: 100%;
     margin: auto;
     padding-top: 10px;
     padding-bottom: 5px;
 }


 .container {
     width: 100%;
     margin: auto;
 }

 .lists {
     margin-top: 20px;
 }

 .indexlist {
     transition: transform 0.3s ease, box-shadow 0.2s ease 0.15s;
     cursor: pointer;
 }

 .indexlist:hover {
     transform: scale(1.02);
     box-shadow: 0 5px 6px 13px rgba(0, 0, 0, 0.15);
 }

 .card-img-top {
     height: 180px;
     width: 100%;
     object-fit: cover;
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
 }
 

 .header {
     margin: 20px 0 20px;
     font-size: 1.6rem;
 }

 .btn {
     margin-right: 5px;
     padding: 8px 16px;
 }
 .logo{
     margin-left:25px;
 }

 .navbar-brand {
     color: #dc3545;;
     font-weight: bold;
     margin-left:5px;
     margin-right: 45px;
     font-size: 25px; 
 }
 .navbar-nav{
    font-size: 18px;
    padding-top: 3px;
   color: black !important;
 }
 .card{
    border-radius: 15px;
    padding: 0;
 }

 @media (max-width:900px) {
     .card {
         padding: 15px;
     }

     .card-img-top {
         height: 250px;
     }
   
 }
 @media (max-width:991px){
      .Profile-pic{
        display: none
     }
 }

 @media (max-width:1050px){
    .Profile-pic{
        margin-right: 15px !important;
    }

 }
 @media(max-width:991px){
    .profile-toggle{
    display: block !important;
}
 }

 #socialmedia i {
     font-size: 25px;
     margin-right: 20px;
     color: white;
     transition: transform 0.3s, color 0.3s;
 }

 #socialmedia i:hover {
     color: #007bff;
     transform: scale(1.2);
 }

 .searchbtn{
    margin-right: 20px;
 }
 #showandeditimg{
    height: 350px;
 }
 #icons a {
    color:grey;
    font-size: 18px;
 }
  
   #icons a :hover{
     color:rgb(50, 47, 47);
     transform:  i scale(1.2);
  }

 @media(max-width:575px){
 #icons {
    display: none; 
 }
 .logo{
     margin-left:5px;
 }
  .header {
    
     font-size: 1.3rem;
 }
 }
.Profile-pic{
    margin-right: 80px;  
}
.Profile-pic img{
    object-fit: cover;
}
.profile-toggle{
    display: none;
}