<% layout('/layouts/boilerplate') %>

<div class="container mt-5 text-center mb-5">
    <h2>Payment Successful! 🎉</h2>
    <p>Thank you for your booking. Your payment was completed successfully.</p>
    <a href="/listings" class="btn btn-danger mt-3">Back to Listings</a>
</div>