<% layout('/layouts/boilerplate') %>

    <body>
        <section class="mb-5 mt-5">
            <h2 class="text-center mt-4 mb-4">
                Page under Construction
            </h2>
        </section>
    </body>